.full-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

}

.image-intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.image-intro img {
    height: 300px;
    width: 300px;

}

.image-intro h4 {
    color: rebeccapurple;

}

.error {
    color: blue;
}

.color {
    color: red;
}

@media screen and (max-width:767px) {
    .image-intro {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;

    }

    .image-intro div {
        margin: 20px;

    }

    .full-card {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;

    }


}

@media screen and (min-width:767px) and (max-width:1023px) {
    .image-intro {
        display: flex;
        flex-direction: column;


    }

    .full-card {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;

    }



}